steady_turbine/*
unsteady_turbine/*
box_discharge2d/*
bubble_shear/*
linear_sw_ripple/*
point_discharge2d/*
point_discharge3d/*
inundated_beach/outputs/
inundated_beach/screenshots/
inundated_beach/__pycache__/
inundated_beach/videos/
inundated_beach/strip.geo
rossby_wave/*
slotted_cylinder/*
tsunami1d/*
